.footer h6 {
  margin: 3px 0;
}
.footer .voucher {
  background-color: #1abc9c;
  height: 60px;
  color: #ffffff;
  vertical-align: middle;
  margin-top: -20px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 980px) {
  .footer .voucher {
    display: none;
  }
}
.voucher-sub {
  margin-right: 36px;
}
.voucher-title {
  font-size: 26px;
  display: inline-block;
  vertical-align: middle;
}
.voucher-title span {
  padding-left: 12px;
}
.voucher-font {
  font-size: 30px;
}
.voucher-text {
  width: 34%;
  display: inline-block;
  vertical-align: middle;
  padding: 16px 0;
  text-transform: capitalize;
  font-size: 11px;
}
.voucher-share {
  display: inline-block;
  margin-left: -13px;
}
.voucher-share .share-button {
  padding: 6px 38px 8px 38px;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}
.ubup {
  padding: 14px 0 0 0;
}
.social-container {
  padding-top: 23px;
  margin-left: -15px;
}
.social-network {
  list-style: none;
  display: inline;
  padding: 0;
}
.social-network li {
  display: inline;
  padding: 0 5px;
}
.icoFacebook {
  background-color: #3B5998;
}
.icoTwitter {
  background-color: #33ccff;
}
.icoGoogle {
  background-color: #BD3518;
}
.icoPinterest {
  background-color: #BD3518;
}
.iconMail {
  background-color: #1abc9c;
}
.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 32px;
  height: 32px;
}
.social-circle li i {
  margin: 0;
  line-height: 35px;
  text-align: center;
  font-size: 20px;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
.versand {
  padding: 29px 0 0 0;
  margin-left: -7px;
}
.versand-title {
  margin-bottom: 5px;
}
.payment-title {
  margin: 20px 0 10px 0;
}
.benefits-links {
  list-style: none;
}
.b-link {
  color: #777;
  text-decoration: none;
}
.b-link:hover {
  color: #1abc9c;
}
.fa-check {
  padding-right: 4px;
}
.title-box {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  margin: 3px 0 7px;
}
.title-box i {
  font-size: 25px;
  color: #222;
}
@media only screen and (max-width: 768px) {
  .title-box {
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  .customer-benefits .links {
    margin-bottom: 0 !important;
  }
}
.payment-methods {
  margin-left: -8px;
  margin-top: 28px;
}

.header .top .col-sm-6 {
  width: auto;
}
.header .top a {
  font-size: 11px;
}
.header .top .list-inline .fa {
  font-size: 14px;
}
@media only screen and (max-width: 980px) {
  .header .top {
    display: none;
  }
}
@media only screen and (max-width: 980px) {
  .header .top {
    display: none;
  }
}
nav {
  border-bottom: none;
}
nav .main-nav-container {
  padding: 22px 0 7px 0;
}
nav .main-nav-left {
  width: 392px;
  float: left;
  padding-top: 26px;
  padding-bottom: 0;
  padding-left: 7px;
}
@media only screen and (max-width: 980px) {
  nav .main-nav-left {
    width: 100% !important;
    padding: 0 !important;
  }
}
@media only screen and (max-width: 980px) {
  nav .main-nav-left .col-md-9 {
    padding: 0 !important;
  }
}
nav .main-nav-center {
  width: 220px;
  display: inline-block;
  margin: 0 auto;
  padding: 9px 0 0 0;
}
@media only screen and (max-width: 768px) {
  nav .main-nav-center {
    width: 100% !important;
    text-align: center;
  }
}
nav .main-nav-right {
  width: 324px;
  float: right;
  padding-top: 2px;
}
@media only screen and (max-width: 360px) {
  nav .main-nav-right {
    padding: 0 !important;
    width: 100%;
    float: left;
    text-align: center;
  }
}
@media only screen and (min-width: 481px) {
  nav .main-nav-right {
    padding: 0 !important;
    text-align: center;
  }
}
@media only screen and (max-width: 679px) {
  nav .main-nav-right {
    width: 100%;
    float: left;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  nav .main-nav-right {
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  nav .main-nav-right li {
    display: inline-block !important;
  }
}
nav .main-nav-right .label {
  border-radius: 12px;
  background-color: #1abc9c;
  color: #ffffff;
  position: relative;
  top: -12px;
  right: 5px;
}
nav .main-nav-right a {
  padding: 14px 12px !important;
}
nav .main-nav-right .fa {
  font-size: 20px;
}
nav .main-nav-right a,
nav .main-nav-left a {
  font-weight: 800;
  color: #222;
  text-decoration: none;
  font-size: 12px;
}

.main-content .main-banner {
  width: 100%;
  height: auto;
  margin-top: 17px;
}
.main-content .logo-gallery {
  padding: 20px 0 13px 0;
  background-color: #ffffff;
  border-bottom: 2px solid #1abc9c;
}
.content-gallery .wrap {
  overflow: hidden;
  margin: -10px;
}
.content-gallery .gbox3 {
  float: left;
  position: relative;
  width: 33.33%;
}
@media only screen and (max-width: 480px) {
  .content-gallery .gbox3 {
    width: 100%;
    padding-bottom: 50%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 679px) {
  .content-gallery .gbox3 {
    width: 100%;
    padding-bottom: 50%;
  }
}
@media only screen and (min-width: 681px) and (max-width: 939px) {
  .content-gallery .gbox3 {
    width: 33.3%;
    padding-bottom: 26.3%;
  }
}
@media only screen and (min-width: 941px) {
  .content-gallery .gbox3 {
    width: 33.3%;
    padding-bottom: 26.3%;
  }
}
.content-gallery .gbox4 {
  float: left;
  position: relative;
  width: 25%;
}
@media only screen and (max-width: 480px) {
  .content-gallery .gbox4 {
    width: 100%;
    padding-bottom: 50%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 679px) {
  .content-gallery .gbox4 {
    width: 50%;
    padding-bottom: 65.3%;
  }
}
@media only screen and (min-width: 681px) and (max-width: 939px) {
  .content-gallery .gbox4 {
    width: 50%;
    padding-bottom: 66.3%;
  }
}
@media only screen and (min-width: 941px) {
  .content-gallery .gbox4 {
    width: 25%;
    padding-bottom: 33.3%;
  }
}
.content-gallery .boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
.content-gallery .boxInner img {
  width: 100%;
}
.content-gallery .boxInner .titleBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.content-gallery .no-touch .boxInner:hover .titleBox,
.content-gallery .touch .touchFocus .titleBox {
  margin-bottom: 0;
}
.top-brand {
  height: 240px;
  margin-bottom: 34px;
}
.top-brand .brand-links {
  width: 620px;
  margin-right: 20px;
  border-bottom: 2px solid #1abc9c;
  background-color: #fff;
  display: inline-block;
  height: 240px;
  overflow: hidden;
}
@media only screen and (max-width: 980px) {
  .top-brand .brand-links {
    width: 100%;
  }
}
.top-brand .brand-links .link-title {
  font-weight: 600;
  text-align: center;
  padding: 18px 15px 0 20px;
  font-size: 20px;
  text-transform: capitalize;
}
.top-brand .brand-links-content {
  padding: 10px 20px 20px 20px;
  text-align: justify;
}
.campaign {
  width: 300px;
  background-color: red;
  float: right;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 980px) {
  .campaign {
    display: none;
  }
}
.campaign .final {
  font-size: 55px;
  line-height: 45px;
  font-weight: lighter;
  padding-left: 13px;
  padding-top: 18px;
}
.campaign .sale {
  font-size: 86px;
  font-weight: 900;
  line-height: 71px;
  padding-left: 11px;
  padding-bottom: 10px;
}
.campaign .sale-description {
  background-color: #fff;
  color: #000;
  display: inline-block;
  padding: 2px 27px;
}
.campaign .category-links {
  font-weight: 200;
  padding-top: 15px;
}

.nav-left-container,
.content-right-container {
  margin: 20px 0;
  padding: 0;
}
.nav-left-container {
  max-width: 220px !important;
}
.nav-left-container .gender-title {
  font-weight: bolder;
}
.nav-left-container .category-title {
  margin: 10px 0 5px 0;
}
.nav-left-container p {
  font-weight: bold;
}
.nav-left-container ul {
  list-style-type: none;
}
.nav-left-container li a {
  display: block;
}
.nav-left-container li a:hover {
  background-color: #1abc9c;
  cursor: pointer;
  color: #fff;
}
.nav-left-container a {
  color: #777;
  padding-left: 10px;
  text-decoration: none;
  line-height: 20px;
}
.nav-left-container .hotline-box {
  background-color: #222;
  margin: 20px 0;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.nav-left-container .hotline-box .hotline-title {
  font-size: 16px;
}
.nav-left-container .hotline-box .hotline-text {
  font-weight: 200;
}
.nav-left-container .nav-ad {
  height: 230px;
  margin: 20px 0;
}
.nav-left-container .nav-ad .ad-title,
.nav-left-container .nav-ad .ad-button {
  text-align: center;
  margin: 20px 0;
}
.nav-left-container .nav-ad .ad-button {
  background-color: #1abc9c;
}
.nav-left {
  padding-right: 20px;
  min-height: 800px;
}
.content-right-container {
  max-width: 700px;
}
@media only screen and (max-width: 768px) {
  .content-right-container {
    max-width: none !important;
  }
}
.content-right-container a {
  cursor: pointer;
}
.content-right-container ul {
  list-stlye-type: none;
  display: inline;
}
.content-right-container ul li {
  display: inline;
  cursor: pointer;
}
.content-right-container .category-nav {
  font-weight: bolder;
  color: #777;
}
.content-right-container .category-nav a {
  color: #777;
}
.content-right-container .category-nav li {
  padding: 0 5px;
}
.content-right-container .category-nav li span {
  padding-right: 10px;
}
.content-right-container .filter-bar {
  margin: 20px 0;
}
.content-right-container .filter-bar .filter-variants {
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.content-right-container .filter-bar .filter-variants li {
  margin-right: 13px;
}
.content-right-container .filter-bar .filter-variants li i {
  margin: 0 5px 0 5px;
}
.content-right-container .selected-filter-item {
  cursor: pointer;
  padding: 5px 5px 5px 10px;
  vertical-align: middle;
  background-color: #fff;
  margin: 0 5px;
}
.content-right-container .selected-filter-item .filter-icon {
  margin: 0 2px 0 10px;
  color: #f5623a;
  cursor: pointer;
}
.content-right-container .filter-selected-container {
  margin: 20px 0 60px;
  font-size: 12px;
}
.content-right-container .filter-selected-container span {
  padding-right: 10px;
}
.content-right-container .paging-nav .u-pagination {
  display: inline;
}
.content-right-container .paging-nav a {
  color: #222;
  text-decoration: none;
  padding: 5px;
}
.content-right-container .page-numbers,
.content-right-container .favorite-filter {
  float: right;
}
.content-right-container .page-numbers {
  margin-right: 40px;
}
.content-right-container .page-numbers .active {
  font-weight: bold;
}
.content-right-container .favorite-filter {
  cursor: pointer;
}
.content-right-container .items-container {
  margin: 10px 0 10px -10px;
  overflow: hidden;
}
.content-right-container .gItemBox3 {
  float: left;
  position: relative;
  width: 33.33%;
}
@media only screen and (max-width: 980px) {
  .content-right-container .gItemBox3 {
    width: 50%;
    padding-bottom: 26.3%;
  }
}
@media only screen and (min-width: 981px) {
  .content-right-container .gItemBox3 {
    width: 33.3%;
    padding-bottom: 26.3%;
  }
}
.content-right-container .ItemBoxInner {
  position: absolute;
  left: 10px;
  right: 0px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}
.content-right-container .ItemBoxInner img {
  width: 100%;
}
.content-right-container .ItemBoxInner .titleItemBox {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -50px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  color: #FFF;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.content-right-container .no-touch .boxInner:hover .titleBox,
.content-right-container .touch .touchFocus .titleBox {
  margin-bottom: 0;
}


.main-menu .ubup-sub-menu {
  width: 940px!important;
  position: absolute;
  border-top: 1px solid #1abc9c;
  margin-top: 3px;
  display: inline-block;
  padding: 20px 20px 20px 10px;
}
.main-menu .ubup-sub-menu li {
  font-size: 12px;
  line-height: 12px;
  width: 80%;
}
.main-menu .ubup-sub-menu i {
  font-size: 20px;
  padding-left: 10px;
}
.main-menu li ul .ubup-sub-link a {
  font-weight: 400!important;
  border-top: none;
  padding: 0 0 0 10px;
}
.main-menu .child-menu-col {
  padding: 0;
}
.link-title {
  font-weight: 800;
  font-size: 14px;
  color: #222;
  padding: 15px 0 0 10px;
}

@media only screen and (min-width: 981px) {
  .container {
    width: 940px;
  }
}
